streamlit>=1.35.0
plotly>=5.22.0
pandas>=2.2.0
numpy>=1.26.0
fpdf2>=2.7.9
openpyxl>=3.1.0
psycopg2-binary>=2.9.9
extra-streamlit-components>=0.1.71
Pillow>=10.0.0
opencv-python-headless>=4.8.0
pytesseract>=0.3.10
